<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Richard Gurudeo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Richard Gurudeo</h1>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                <h2>About Me</h2>
                <p>
                    Nerdy geeky computer guy with lots of diverse interests namely in AI, bioengineering, and creating systems that can help build a                        more reliable world for all. Also a gamer, stock investor, anime                      fan, and cricketer.
                </p>

                <h2>Work Experience</h2>
                <p>
                    Most of my coding experience comes from writing Lua scripts but also took certifications and did personal projects in web                             development and Python. This included working on things such as                       simple frontend design, database management, user authorization,                      APIs, and building simple AIs using TensorFlow. Also worked using                     C# in Unity for personal projects. Spent time working in retail                       doing customer service, orders, accounting, and training                              employees, and also worked as a handyman.
                </p>

                <h2>Contact Information</h2>
                <p>
                    You can primarily reach out to me at my Google email:"richardgurudeo&#64;gmail.com"
                </p>
                <p>
                    Find me on <a href="https://www.linkedin.com/in/richard-gurudeo/"target="_blank">LinkedIn</a>
                </p>

            </div>
        </div>
    </div>
</body>
</html>
