.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url('../../assets/images/NightInspring.jpg');
    background-size: 100% 100%;
    border-radius: 50% 0% 5% 75%;
  }
  
  .sidebar {
    width: 25vw;
    top: 0;
    left: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1vw;
    background: linear-gradient(to right, black 90%, rgba(27, 27, 88, 0) 100%);
  }
  
  .logo {
    margin: 0;
    height: 7.5vw;
    padding: 3.5vw 1vw 1vw 1vw;
  }
  
  .logo:hover {
    cursor: pointer;
    filter: brightness(.75);
  }
  
  /* Sidebar content (image and link) */
  .sidebar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(3vw, 300%, 4vw);
    height: 100%;
  }
  
  .sidebar-link {
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
  }
  
  .sidebar-link:hover {
    background: -webkit-linear-gradient(cyan, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #MM {
    background: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0) 90%);
    border-radius: 25%;
  }
  
  #MM:hover {
    background: -webkit-linear-gradient(cyan, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #Jotto {
    background: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0) 90%);
    border-radius: 25%;
  }
  
  #Jotto:hover {
    background: -webkit-linear-gradient(yellow, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #About {
    background: linear-gradient(to right, #3c0050, black 50%, rgba(0, 0, 0, 0) 90%);
  }
  
  #About:hover {
    background: -webkit-linear-gradient(red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
    font-size: clamp(2vw, 200%, 3vw);
  }
  
  #word span {
    opacity: 0;
    animation: reveal 3s forwards pause;
  }
  
  @keyframes reveal {
    to {
      opacity: 1;
    }
  }
  
  /* Add a delay to each character */
  @for $i from 1 through 36 {
    #word span:nth-child(#{$i}) { 
      animation-delay: #{0.05*$i}s; 
    }
  }
  
  .hover-effect span {
    opacity: 0;
    animation: reveal 3s forwards;
  }